<table cellpadding="5">
  <% for pad in @pads  %>
    <tr>
      <td>
        <%=pad.title%>
      </td>
      <td>        
      </td>
      <td>
        <%=link_to image_tag('edit.png'),edit_pad_path(pad)%>
      </td>
    </tr>
  <%end%>
</table>
<div style="margin-top:30px">
  <%=button_to "New Pad",{:controller=>"pads",:action=>"new",:id=>@user.id},{}%>
</div>