<table>
<%if !@pad.nil?%>

  <%for metric in @pad.metrics%>
  <tr><td><%=metric.title%></td></tr>
<%end%>
<%end%>

<%for met in @metrics%>
  <tr><td><%=met.title%></td><td><%=link_to "delete"%></td></tr>
<%end%>

</table>
