
<ul id="metrics">
<% for metric in @metrics %>
  <% content_tag_for :li, metric do %>
    <span class="handle">
    <%= metric.title %></span>
  <% end %>
<% end %>
</ul>
<%= sortable_element("metrics", :url => sort_metrics_path, :handle => "handle") %>
