<script type="text/javascript">
  function toggleMetrics(elementId)
  {
    var theDiv=document.getElementById(elementId);
    if (theDiv.style.display=='none')
        theDiv.style.display = '';

    else
       theDiv.style.display = 'none';
   }
</script>


<h3>Edit Pad</h3>
<%form_for :pad ,:url=>{:action=>"update",:id=>@pad.id} do |f|%>
<%=render :partial=>"pad", :locals=>{:f=>f}%>
<br>
<%=submit_tag "Edit Pad"%>
<%end%>
