


<h3>Edit Pad</h3>
<%form_for @pad do |f|%>
  <%=error_messages_for :pad%>
  <%=render :partial=>"pad", :locals=>{:f=>f}%>
  <br>
  <%=f.submit "Update Pad"%>&nbsp;<%= link_to "Delete",url_for(:action=>"destroy",:id=>@pad.id),:method=>:delete,:confirm=>"Are You Sure?" %>
<%end%>
